Repository bioinformatics-ua/dicoogle, pull requests merged in 2018-05, with the labels that each got.

#311 Reduce logging severity to "debug"
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
Labels: dicoogle-core

#289 Invalidate "keyword" parameter in search service
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/search/SearchServlet.java
  dicoogle/src/main/resources/webapp/js/components/search/searchView.jsx
  dicoogle/src/main/resources/webapp/js/handlers/requestHandler.js
  dicoogle/src/main/resources/webapp/js/stores/searchStore.js
Labels: breaking-change, dicoogle-core, enhancement

#303 Add multiselect for choosing which providers to use when indexing
  dicoogle/src/main/resources/webapp/css/autosuggest.css
  dicoogle/src/main/resources/webapp/css/react-select.css
  dicoogle/src/main/resources/webapp/index-template.html
  dicoogle/src/main/resources/webapp/js/actions/pluginActions.js
  dicoogle/src/main/resources/webapp/js/components/indexer/IndexStatusView.js
  dicoogle/src/main/resources/webapp/js/handlers/requestHandler.js
  dicoogle/src/main/resources/webapp/js/stores/indexStatusStore.js
  dicoogle/src/main/resources/webapp/js/stores/pluginStore.js
  dicoogle/src/main/resources/webapp/package.json
Labels: webapp

#313 CFindServiceSCP: Perform log string manipulation only when required.
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/CFindServiceSCP.java
Labels: dicoogle-core, enhancement

#304 Add support for permissive webui
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/webui/WebUIServlet.java
Labels: dicoogle-core, enhancement

#316 Annotation-based Dicoogle platform injection
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginPreparer.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/plugins/InjectionTest.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/plugins/PlatformInterfaceMock.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/annotation/InjectPlatformProxy.java
Labels: dicoogle-core, enhancement, sdk

#317 Add servlet for getting DICOM Tag lists
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/DicoogleWeb.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/management/DimTagsServlet.java
  dicoogle/src/main/resources/webapp/css/react-select.css
  sdk/src/main/java/pt/ua/dicoogle/sdk/utils/TagsStruct.java
Labels: dicoogle-core

#318 Save and list user's presets for fields to be exported
  dicoogle/src/main/java/pt/ua/dicoogle/server/users/UserExportPresets.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/DicoogleWeb.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/search/PresetsServlet.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/utils/PathUtils.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/utils/ResponseUtil.java
  dicoogle/src/main/resources/webapp/css/react-select.css
  dicoogle/src/main/resources/webapp/index-template.html
  dicoogle/src/main/resources/webapp/js/actions/exportActions.js
  dicoogle/src/main/resources/webapp/js/components/search/exportView.js
  dicoogle/src/main/resources/webapp/js/components/search/searchResult.jsx
  dicoogle/src/main/resources/webapp/js/handlers/requestHandler.js
  dicoogle/src/main/resources/webapp/js/stores/exportStore.js
Labels: dicoogle-core, webapp

#326 Discard expired sessions and correctly handle login redirects
  dicoogle/src/main/java/pt/ua/dicoogle/server/users/UsersXML.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/accounts/LoginServlet.java
  dicoogle/src/main/resources/webapp/js/actions/userActions.js
  dicoogle/src/main/resources/webapp/js/app.js
  dicoogle/src/main/resources/webapp/js/components/login/loadingView.js
  dicoogle/src/main/resources/webapp/js/stores/userStore.js
Labels: bug, dicoogle-core, webapp

#328 Remove jQuery
  dicoogle/src/main/resources/webapp/css/jquery-ui.css
  dicoogle/src/main/resources/webapp/index-template.html
  dicoogle/src/main/resources/webapp/js/app.js
  dicoogle/src/main/resources/webapp/js/components/direct/directDumpView.js
  dicoogle/src/main/resources/webapp/js/components/management/indexerView.js
  dicoogle/src/main/resources/webapp/js/components/management/loggerView.js
  dicoogle/src/main/resources/webapp/js/components/mixins/toastView.js
  dicoogle/src/main/resources/webapp/js/components/search/advancedSearch.js
  dicoogle/src/main/resources/webapp/js/components/search/searchView.jsx
  dicoogle/src/main/resources/webapp/package.json
  dicoogle/src/main/resources/webapp/sass/core/_global.scss
Labels: webapp

#333 Update README.md with Travis CI badge
  README.md
Labels: chores

#340 Remove GraphicalInterface
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
  dicoogle/src/main/java/pt/ua/dicoogle/rGUI/server/controllers/PluginController4user.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/GraphicalInterface.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/PluginSet.java
Labels: sdk

#353 Add error handling to query interface (Merge the #349)
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/ImageServlet.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/search/SearchServlet.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/QueryDimInterface.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/QueryInterface.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/utils/QueryException.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/utils/QueryParseException.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/utils/RetrievalException.java
Labels: breaking-change, sdk

#357 Move queries with Dim Level from QueryInterface to QueryDimInterface.
  sdk/src/main/java/pt/ua/dicoogle/sdk/QueryDimInterface.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/QueryInterface.java
Labels: in progress
