Repository bioinformatics-ua/dicoogle, pull requests merged in 2018-04, with the labels that each got.

#297 Purge uses of ReactComponent.isMounted()
  dicoogle/src/main/resources/webapp/.eslintrc
  dicoogle/src/main/resources/webapp/js/components/direct/directDumpView.js
  dicoogle/src/main/resources/webapp/js/components/indexer/IndexStatusView.js
  dicoogle/src/main/resources/webapp/js/components/login/loadingView.js
  dicoogle/src/main/resources/webapp/js/components/login/loginView.js
  dicoogle/src/main/resources/webapp/js/components/management/indexerView.js
  dicoogle/src/main/resources/webapp/js/components/management/loggerView.js
  dicoogle/src/main/resources/webapp/js/components/management/queryadvoptions.js
  dicoogle/src/main/resources/webapp/js/components/management/servicesView.js
  dicoogle/src/main/resources/webapp/js/components/management/transferOptionsView.js
  dicoogle/src/main/resources/webapp/js/components/search/advancedSearch.js
  dicoogle/src/main/resources/webapp/js/components/search/exportView.js
  dicoogle/src/main/resources/webapp/js/components/search/result/imageView.js
  dicoogle/src/main/resources/webapp/js/components/search/result/patientView.js
  dicoogle/src/main/resources/webapp/js/components/search/result/serieView.js
  dicoogle/src/main/resources/webapp/js/components/search/result/studyView.js
  dicoogle/src/main/resources/webapp/js/components/search/searchResult.jsx
  dicoogle/src/main/resources/webapp/js/components/search/searchResultView.jsx
  dicoogle/src/main/resources/webapp/js/components/search/searchView.jsx
Labels: enhancement, testing, webapp

#345 Update gulp-sass to 3.2.1
  .travis.yml
  dicoogle/src/main/resources/webapp/package.json
Labels: bug, chores, webapp

#305 Manage plugins on webapp
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/plugins/PluginsServlet.java
  dicoogle/src/main/resources/webapp/js/actions/pluginActions.js
  dicoogle/src/main/resources/webapp/js/components/management/managementView.js
  dicoogle/src/main/resources/webapp/js/components/management/pluginsView.js
  dicoogle/src/main/resources/webapp/js/components/management/servicesAndPluginsView.js
  dicoogle/src/main/resources/webapp/js/stores/pluginStore.js
  dicoogle/src/main/resources/webapp/sass/core/_global.scss
  dicoogle/src/main/resources/webapp/sass/modules/_management.scss
Labels: enhancement, webapp

#310 Add endpoints to enable/disable plugins in the web service
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/plugins/PluginsServlet.java
Labels: dicoogle-core
