Repository bioinformatics-ua/dicoogle, pull requests merged in 2021-08, with the labels that each got.

#481 Build webapp on Maven execution
  dicoogle/pom.xml
Labels: bug, webapp, chores

#463 Update CI workflows to check Java and webapp separately
  .github/workflows/maven.yml
  .github/workflows/node.yml
  README.md
  dicoogle/src/main/resources/webapp/webpack.common.js
Labels: chores

#495 [Dicoogle3] Fix DICOM storage priority by AE title
  dicoogle/src/main/java/pt/ua/dicoogle/server/DicomStorage.java
  dicoogle/src/test/java/pt/ua/dicoogle/server/DicomStorageTest.java
Labels: bug, dicoogle-core

#478 Fix requesting for web UI plugins by slot
  webcore/src/dicoogle-webcore.js
Labels: bug, webapp

#500 Server code clean up
  dicoogle/src/main/java/pt/ua/dicoogle/core/Zip.java
  dicoogle/src/main/java/pt/ua/dicoogle/core/dicom/PrivateDictionary.java
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/LegacyServerSettings.java
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginPanelLoader.java
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/webui/WebUIPlugin.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/ControlServices.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/LegacyRestletApplication.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/SOPList.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/FindRSP.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/users/HashService.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/users/UsersXML.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/rest/ExtResource.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/rest/RestCountQueryResults.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/rest/RestEnumField.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/rest/RestImageResource.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/rest/TestResource.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/rest/elements/FileDownloadUtils.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/accounts/UserServlet.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/management/RunningTasksServlet.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/search/SearchServlet.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/webui/WebUIModuleServlet.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/utils/ImageLoader.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/utils/LocalImageCache.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/utils/types/DataTable.java
  dicoogle/src/main/java/pt/ua/dicoogle/taskManager/TaskManager.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/auth/TestRoles.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/auth/TestUsers.java
  dicoogle/src/test/java/pt/ua/dicoogle/webui/CamelizeTest.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/PluginBase.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/QueryInterface.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/MoveDestination.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/SOPClass.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/utils/DictionaryAccess.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/utils/query/Query.java
Labels: sdk, dicoogle-core, chores

#497 Make webplugins always visible to admin users or if they do not list any roles
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/webui/WebUIServlet.java
Labels: bug, dicoogle-core

#496 Make the DICOM Storage SCP indexing queue to be asynchronous
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/RSIStorage.java
Labels: dicoogle-core
