Repository bioinformatics-ua/dicoogle, pull requests merged in 2021-12, with the labels that each got.

#540 Improve web UI manager asset fetching
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/webui/WebUIPluginManager.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/webui/WebUIModuleServlet.java
  dicoogle/src/test/java/pt/ua/dicoogle/webui/WebUIPluginTest.java
  dicoogle/src/test/resources/pt/ua/dicoogle/webui/WebPlugins/test1/module.js
  dicoogle/src/test/resources/pt/ua/dicoogle/webui/WebPlugins/test1/package.json
Labels: enhancement, dicoogle-core

#546 Update log4j to 2.16.0
  dicoogle/pom.xml
Labels: high priority, chores

#547 Removed not used distribution management endpoints
  sdk/pom.xml
Labels: chores

#550 Fix ExportCSVToFILEServlet query expansion handling
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/ExportCSVToFILEServlet.java
Labels: bug, dicoogle-core

#548 Update README according with new configurations file
  dicoogle/src/main/resources/webapp/README.md
Labels: low priority, dicoogle-core, chores
