Repository bioinformatics-ua/dicoogle, pull requests merged in 2021-11, with the labels that each got.

#504 Add encrypt-users-file to server settings
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/LegacyServerSettings.java
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/part/ArchiveImpl.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/users/UserFileHandle.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/settings/LegacyServerSettingsTest.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/settings/ServerSettingsTest.java
  dicoogle/src/test/resources/pt/ua/dicoogle/core/settings/test-config-new.xml
  sdk/src/main/java/pt/ua/dicoogle/sdk/settings/server/ServerSettings.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/settings/server/ServerSettingsReader.java
Labels: high priority, sdk, dicoogle-core

#523 Update important webapp dependencies
  dicoogle/src/main/resources/webapp/js/stores/pluginStore.js
  dicoogle/src/main/resources/webapp/package-lock.json
  dicoogle/src/main/resources/webapp/package.json
  webcore/package-lock.json
  webcore/package.json
Labels: bug, enhancement, high priority, webapp

#515 Fix index settings `zip` property and remove it from UI
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/management/IndexerSettingsServlet.java
  dicoogle/src/main/resources/webapp/js/components/management/indexerView.js
  dicoogle/src/main/resources/webapp/js/handlers/requestHandler.js
Labels: bug, enhancement, webapp, dicoogle-core

#517 Fix server error on /webui without user session
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/webui/WebUIServlet.java
Labels: bug, dicoogle-core

#526 Consider all parameters in server storage service
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/management/ServerStorageServlet.java
Labels: bug, dicoogle-core

#529 Add missing plugin info properties in /plugins
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/plugins/PluginsServlet.java
Labels: bug, dicoogle-core

#521 Replace service status signal implementation
  dicoogle/src/main/resources/webapp/js/components/management/serviceForm.jsx
Labels: enhancement, webapp

#525 Save move destinations in confs/server.xml as XML attributes
  dicoogle/src/test/java/pt/ua/dicoogle/core/settings/LegacyServerSettingsTest.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/settings/ServerSettingsTest.java
  dicoogle/src/test/resources/pt/ua/dicoogle/core/settings/test-config-legacy.xml
  dicoogle/src/test/resources/pt/ua/dicoogle/core/settings/test-config-new.xml
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/MoveDestination.java
Labels: enhancement, dicoogle-core

#518 Check roles before loading plugins and warn about missing roles
  dicoogle/src/main/java/pt/ua/dicoogle/Main.java
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/webui/WebUIPluginManager.java
Labels: enhancement, dicoogle-core

#514 Fix the image loader when the thumbnail is a larger image
  dicoogle/src/main/resources/webapp/js/components/search/result/imageView.js
  dicoogle/src/main/resources/webapp/js/external-requires.js
  dicoogle/src/main/resources/webapp/package-lock.json
  dicoogle/src/main/resources/webapp/package.json
Labels: bug, webapp

#538 Check whether confs dir exists before creating it in ServerSettingsManager
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/ServerSettingsManager.java
Labels: enhancement, dicoogle-core
