Repository bioinformatics-ua/dicoogle, pull requests merged in 2021-02, with the labels that each got.

#448 WebUI Plugins: Fix the emit events for result-batch slot plugins
  dicoogle/src/main/resources/webapp/js/components/plugin/pluginForm.jsx
  dicoogle/src/main/resources/webapp/js/components/search/result/imageView.js
  dicoogle/src/main/resources/webapp/js/components/search/result/patientView.js
  dicoogle/src/main/resources/webapp/js/components/search/result/serieView.js
  dicoogle/src/main/resources/webapp/js/components/search/result/studyView.js
  webcore/src/dicoogle-webcore.js
Labels: bug, webapp

#450 Fix exportToCSV modal on webapp
  dicoogle/src/main/resources/webapp/js/components/search/exportView.js
  dicoogle/src/main/resources/webapp/sass/components/export.scss
Labels: bug, javascript, webapp

#451 Fix StackOverflowError and users settings folder issues
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/users/UserExportPresets.java
Labels: bug, java
