Repository bioinformatics-ua/dicoogle, pull requests merged in 2022-10, with the labels that each got.

#607 Remove duplicate SOP classes in transfer options
  dicoogle/src/main/java/pt/ua/dicoogle/server/SOPList.java
Labels: bug, dicoogle-core

#608 Update npm dependencies
  dicoogle/src/main/resources/webapp/package-lock.json
  dicoogle/src/main/resources/webapp/package.json
  webcore/examples/react-todo/package-lock.json
  webcore/examples/react-todo/package.json
  webcore/examples/simple-result/package-lock.json
  webcore/examples/simple-result/package.json
  webcore/package-lock.json
  webcore/package.json
Labels: webapp, chores, dependencies

#611 Remove not used file
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/PluginsServlet.java.orig
Labels: enhancement

#593 [webapp] Added capability to export dump of metadata to CSV
  dicoogle/src/main/resources/webapp/js/components/search/result/imageView.js
Labels: webapp

#606 Add opt-in `call-shutdown` setting to call plugin shutdown routines on Dicoogle shutdown
  dicoogle/src/main/java/pt/ua/dicoogle/Main.java
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/LegacyServerSettings.java
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/part/ArchiveImpl.java
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/settings/ServerSettingsTest.java
  dicoogle/src/test/resources/pt/ua/dicoogle/core/settings/test-config-new.xml
  sdk/src/main/java/pt/ua/dicoogle/sdk/settings/server/ServerSettings.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/settings/server/ServerSettingsReader.java
Labels: enhancement, sdk, dicoogle-core

#604 Replace DcmSend with custom DICOM sender
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/CMoveServiceSCP.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/CallDCMSend.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/DcmSndV2.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/DicoogleDcmSend.java
Labels: enhancement, dicoogle-core
