Repository bioinformatics-ua/dicoogle, pull requests merged in 2022-06, with the labels that each got.

#584 Add Instance Number to DIM search output and webapp image results
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/search/SearchServlet.java
  dicoogle/src/main/resources/webapp/js/components/search/result/imageView.js
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/dim/DIMGeneric.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/dim/Series.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/dim/Study.java
Labels: sdk, webapp, dicoogle-core

#577 Change DICOM logging and deprecate XML log
  dicoogle/src/main/java/pt/ua/dicoogle/DicomLog/LogDICOM.java
  dicoogle/src/main/java/pt/ua/dicoogle/DicomLog/LogLine.java
  dicoogle/src/main/java/pt/ua/dicoogle/DicomLog/LogXML.java
  dicoogle/src/main/java/pt/ua/dicoogle/Main.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/CFindServiceSCP.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/CMoveServiceSCP.java
Labels: enhancement, dicoogle-core

#511 Add creation time to running task descriptor
  dicoogle/src/main/java/pt/ua/dicoogle/taskManager/RunningIndexTasks.java
  dicoogle/src/main/resources/webapp/js/components/indexer/IndexStatusView.js
  dicoogle/src/main/resources/webapp/js/components/indexer/TaskStatus.jsx
  dicoogle/src/main/resources/webapp/js/utils/time.js
  sdk/src/main/java/pt/ua/dicoogle/sdk/task/Task.java
Labels: enhancement, webapp, dicoogle-core

#588 Improve Java CI workflow
  .github/workflows/maven.yml
  sdk/src/test/java/pt/ua/dicoogle/sdk/datastructs/dim/DIMGenericTest.java
Labels: chores

#587 Set key to dicoogle-slot in PluginView
  dicoogle/src/main/resources/webapp/js/components/plugin/pluginView.jsx
Labels: bug, high priority, webapp
