Repository bioinformatics-ua/dicoogle, pull requests merged in 2023-07, with the labels that each got.

#643 Update logging dependencies and add jul-to-slf4j
  dicoogle/pom.xml
  pom.xml
Labels: enhancement

#644 imp/Remove uri from default search servlet fields
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/search/SearchServlet.java
Labels: enhancement, dicoogle-core

#655 Fix #653 - URI can be dumped in meta table
  dicoogle/src/main/resources/webapp/js/components/search/result/imageView.js
Labels: bug, webapp

#646 bug/Cast QueryInterface to QueryDimInterface
  dicoogle/src/main/java/pt/ua/dicoogle/plugins/PluginController.java
Labels: bug, dicoogle-core

#661 [CI] Update setup-java action in maven.yml
  .github/workflows/maven.yml
Labels: chores
