Repository bioinformatics-ua/dicoogle, pull requests merged in 2023-10, with the labels that each got.

#669 Update Maven plugins
  .gitignore
  dicoogle/pom.xml
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/LegacyServerSettings.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/SOPList.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/TransfersStorage.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/queryretrieve/DicoogleDcmSend.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/users/UserFileHandle.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/management/TransferOptionsServlet.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/settings/ServerSettingsTest.java
  dicoogle/src/test/java/pt/ua/dicoogle/webui/WebUIPluginTest.java
  pom.xml
  sdk/pom.xml
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/dim/DIMGeneric.java
Labels: chores

#672 Remove advanced search UI
  dicoogle/src/main/resources/webapp/js/components/search/advancedSearch.js
  dicoogle/src/main/resources/webapp/js/components/search/searchView.jsx
Labels: bug, webapp

#670 Update Bcrypt dependency and password hash service
  dicoogle/pom.xml
  dicoogle/src/main/java/pt/ua/dicoogle/server/users/HashService.java
  dicoogle/src/test/java/pt/ua/dicoogle/server/users/HashServiceTest.java
Labels: enhancement, dicoogle-core

#673 Include submitted query and provider in “result-selection-ready” event
  dicoogle/src/main/resources/webapp/js/actions/requestActions.js
  dicoogle/src/main/resources/webapp/js/components/plugin/pluginForm.jsx
  dicoogle/src/main/resources/webapp/js/stores/requestStore.js
  dicoogle/src/main/resources/webapp/js/stores/searchStore.js
Labels: enhancement, webapp

#678 Update links to use scheme https
  README.md
  dicoogle/src/main/resources/webapp/css/fonts-google.css
  dicoogle/src/main/resources/webapp/index-template.html
  dicoogle/src/main/resources/webapp/js/components/about/aboutView.js
  dicoogle/src/main/resources/webapp/js/components/login/loginView.js
  dicoogle/src/main/resources/webapp/package.json
  dicoogle_web_api.yaml
  webcore/package.json
Labels: bug, webapp
