Repository bioinformatics-ua/dicoogle, pull requests merged in 2023-06, with the labels that each got.

#516 Extensions to the SOP classes and Transfer Syntaxes hardcoded lists.
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/LegacyServerSettings.java
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/ServerSettingsManager.java
  dicoogle/src/main/java/pt/ua/dicoogle/core/settings/part/DicomServicesImpl.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/SOPList.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/TransfersStorage.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/management/SOPClassSettings.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/management/TransferOptionsServlet.java
  dicoogle/src/test/java/pt/ua/dicoogle/core/settings/ServerSettingsTest.java
  dicoogle/src/test/resources/pt/ua/dicoogle/core/settings/test-config-additionals.xml
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/AdditionalSOPClass.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/datastructs/AdditionalTransferSyntax.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/settings/server/ServerSettings.java
  sdk/src/main/java/pt/ua/dicoogle/sdk/settings/server/ServerSettingsReader.java
Labels: enhancement, dicoogle-core

#647 Switch to new maven repo dicoogle-public
  dicoogle/pom.xml
  pom.xml
  sdk/pom.xml
Labels: chores

#645 Update CI workflows
  .github/workflows/maven.yml
  .github/workflows/node.yml
  dicoogle/src/main/resources/webapp/package.json
Labels: chores

#649 Transfer Options - improve web service and UI
  dicoogle/src/main/java/pt/ua/dicoogle/server/SOPList.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/TransfersStorage.java
  dicoogle/src/main/java/pt/ua/dicoogle/server/web/servlets/management/TransferOptionsServlet.java
  dicoogle/src/main/resources/webapp/js/actions/transferActions.js
  dicoogle/src/main/resources/webapp/js/components/management/transferOptionsView.js
  dicoogle/src/main/resources/webapp/js/stores/transferStore.js
  dicoogle/src/main/resources/webapp/sass/modules/_management.scss
Labels: enhancement, webapp, dicoogle-core
